@charset 'utf-8';


@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
//@include foundation-flex-grid;

@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

/*
  My custom styles:
  Add your scss files below to structure your project styles
*/

// Global
@import "global/accessibility";
@import "global/colors";
@import "global/wp-admin";
@import "global/wp-overrides";
@import "global/gutenberg";

// Modules
@import "modules/navigation";
@import "modules/content";
@import "modules/footer";
@import "modules/editor-style";
@import "modules/preload";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/featured-image";
@import "components/dividers";
@import "components/links";
@import "components/slider";

// Templates
@import "templates/front";
@import "templates/kitchen-sink";
@import "templates/single";
@import "templates/about";
@import "templates/linktree";

@import "../../../node_modules/slick-carousel/slick/slick.scss";
@import "../../../node_modules/slick-carousel/slick/slick-theme.scss";

@font-face {
    font-family: 'mgd-rotter-regular';
    src: url('../fonts/mgd-rotter-regular/MGDRotter-Regular.eot');
    src: url('../fonts/mgd-rotter-regular/MGDRotter-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mgd-rotter-regular/MGDRotter-Regular.woff2') format('woff2'),
         url('../fonts/mgd-rotter-regular/MGDRotter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22regular';
    src: url('../fonts/lunchtype/lunchtype22-regular-webfont.eot');
    src: url('../fonts/lunchtype/lunchtype22-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lunchtype/lunchtype22-regular-webfont.woff2') format('woff2'),
         url('../fonts/lunchtype/lunchtype22-regular-webfont.woff') format('woff'),
         url('../fonts/lunchtype/lunchtype22-regular-webfont.ttf') format('truetype'),
         url('../fonts/lunchtype/lunchtype22-regular-webfont.svg#lunchtype22regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22medium';
    src: url('../fonts/lunchtype/lunchtype22-medium-webfont.eot');
    src: url('../fonts/lunchtype/lunchtype22-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lunchtype/lunchtype22-medium-webfont.woff2') format('woff2'),
         url('../fonts/lunchtype/lunchtype22-medium-webfont.woff') format('woff'),
         url('../fonts/lunchtype/lunchtype22-medium-webfont.ttf') format('truetype'),
         url('../fonts/lunchtype/lunchtype22-medium-webfont.svg#lunchtype22medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lunchtype22light';
    src: url('../fonts/lunchtype/lunchtype22-light-webfont.eot');
    src: url('../fonts/lunchtype/lunchtype22-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lunchtype/lunchtype22-light-webfont.woff2') format('woff2'),
         url('../fonts/lunchtype/lunchtype22-light-webfont.woff') format('woff'),
         url('../fonts/lunchtype/lunchtype22-light-webfont.ttf') format('truetype'),
         url('../fonts/lunchtype/lunchtype22-light-webfont.svg#lunchtype22light') format('svg');
    font-weight: normal;
    font-style: normal;

}
#tinymce {
 color: black;
 p, a{
   a {
     color: black;
   }
   color: black;
 }
}

p, a{
    @include breakpoint(small only) {
      font-size: 16px;
    }
}

a {
  text-decoration: underline;
  display: inline-block;
  // p {
  //   text-decoration: underline;
  //   display: inline-block;
  // }
}

h1,h2 {
    @include breakpoint(small only) {
        line-height: 1.2;

    }
}

h2 {
    font-family: 'mgd-rotter-regular';
    letter-spacing: -0.05em;
}

h5 {
   font-family: 'lunchtype22regular';
   color: $medium-gray;
   margin-bottom: 0;
}
