.home {
  .main-content {
    overflow: hidden;
    margin-top: 80px;
    @include xy-grid;
    .sketch-link {
      text-decoration: none !important;
    }
    .right-gif, .left-gif {
      @include hide-for(small only);
    }
    div {
      margin-top: 40px;
      margin-bottom: 40px;
      a {
        width: 100%;
      }
      .titles {
        h1 {
          line-height: 1.2;
        }
      }

      p {
        // opacity: 1 !important;
      }

      @include breakpoint(medium) {
        margin-top: 80px;
        margin-bottom: 80px;
        &.left-post{
          @include xy-cell(7);
          .titles {
            margin: 0 0 24px 24px;
          }
          h1 {
            font-size: 32px;
          }
          h2 {
            font-size: 24px;
          }
        }
        &.right-gif{
          @include xy-cell(4);
          @include xy-cell-offset(1);
        }
        &.right-post{
          @include xy-cell(7);
          @include xy-cell-offset(1);
          .titles {
            margin: 0 0 24px 24px;
          }
          h1 {
            font-size: 32px;
          }
          h2 {
            font-size: 24px;
          }
        }
        &.left-gif{
          @include xy-cell(4);
        }
        &.no-sketch{
          @include xy-cell(3 of 5);
          @include xy-cell-offset(1 of 5);
          .titles {
            margin: 0 0 24px 24px;
          }
          h1 {
            font-size: 48px;
          }
          h2 {
            font-size: 24px;
          }
        }
      }
      @include xy-cell(12);
      .noclick {
        width: 100%;
        @include breakpoint(small only) {
          .caption {
            opacity: 1 !important;
          }
        }
        &:hover {
          & ~ .caption {
            opacity: 1;
            -webkit-transition: opacity 0.1s ease-in-out;
            -moz-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
          }
        }
      }
      .caption {
        opacity: 1;
      }
      @include breakpoint(medium) {
        .caption {
          opacity: 0;
        }
      }
      .featured-hero,.featured-hero-home {

        &:hover {
          video, img {
            opacity: 0.4;
            -webkit-transition: opacity 0.1s ease-in-out;
            -moz-transition: opacity 0.1s ease-in-out;
            transition: opacity 0.1s ease-in-out;
          }
        }
        .hover {
          @include breakpoint(small only) {
            background: transparent;
            position: relative;
            opacity: 1;
            display: block;
            float: left;
            .titles {
              position: relative;
              h1 {
                  margin-top: 10px;
              }
              h1,h2 {
                margin-bottom: 5px;
                font-family:'mgd-rotter-regular';
                font-size: 16px;
                line-height: normal;
              }
            }
          }
          @include breakpoint(medium) {
            height: 100%;
          }
          position: absolute;
          display: block;
          width: 100%;
          opacity: 0;
          top: 0;
          background: rgba(0,0,0,0.2);
          -webkit-transition: opacity 0.2s ease-in-out;
          -moz-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
