.page-template-link-tree {

  // .site-header div:nth-child(2) {
  //   width: 100%;
  // }

  .link-tree {
    @include xy-grid-container();
  	@include xy-grid();
    text-align: center;
    .about-img {
      background-size: cover;
      background-position: center;
      display: block;
      padding-bottom: 10rem;
      width: 10rem;
      margin: 110px auto 60px auto;
      @include breakpoint(medium) {
        padding-bottom: 15rem;
        width: 15rem;
        margin: 160px auto 90px auto;
      }
      border-radius: 50%;
      overflow: hidden;
      font-family: MGD Rotter;
    }
    .weblink {
      width: 100%;
      list-style: none;
      text-align: center;
      margin-bottom: 40px;
    }
    .list {
      width: 100%;
      list-style: none;
      text-align: center;
      margin-bottom: 90px;
      @include breakpoint(medium) {
        margin-bottom: 110px;
      }
      li {
        width: 100%;
        float: left;
        position: relative;
        text-align: center;
        a {
          display: inline-block;
          font-family: 'mgd-rotter-regular';
          text-decoration: none !important;
          font-size: 16px;
          line-height: 38px;
          letter-spacing: -0.05em;
          @include breakpoint(medium) {
            font-size: 24px;
            line-height: 58px;
          }
          p,span {
            float: left;
            display: inline-block;
          }
          p {
            line-height: 38px;
            margin-bottom: 0;
            @include breakpoint(medium) {
              line-height: 58px;
            }
          }
          span {
            text-decoration: underline;
            p {
              padding-left: .5rem;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
